<!-- shop -->
<section class="shop">
  
  <!-- trade -->
  <div class="trade">
    <!-- sell -->
    <div class="sell">
      <!-- <b>sell</b> -->
      <ul></ul>
      <button id="sell" type="button">sell</button>
    </div>
    <!-- //sell -->
    <!-- buy -->
    <ul class="buy">
      <!-- <b>buy</b> -->
      <ul></ul>
      <button id="buy" type="button">buy</button>
    </ul>
    <!-- //buy -->
  </div>
  <!-- //trade -->

  <!-- inventory -->
  <div class="inventory">
    
  </div>
  <!-- //inventory -->

</section>
<!-- //shop -->